
/* CSS is adapted from CSS of WebDev 1 CA */

:root {
    font-size: 15px;
}

@viewport {
    width: device-width;
}


html{
    --button: rgb(25, 55, 99);
    --background: rgb(220, 182, 255);
    --nav-color: rgb(188, 121, 214);
    --border-color: rgb(29, 29, 29);
    --quiz-color: rgb(218, 199, 236);
    --button-hover:  rgb(112, 188, 235);
} 

body {
    background-color: var(--background);
    font-family: 'Coda', Verdana, Helvetica, Arial, sans-serif;
    margin: 0%;
}

main, footer {
    align-content: center;
}

table {
    border: 0.1em solid;
    border-color: var(--border-color);
    border-collapse: collapse;
    width: 90%;
    height: 90%;
    align-content: center;
    margin: 0% 5%;
    table-layout: fixed;
}

h1, h2, a, td, p {
    text-align: center;
    text-decoration: none;
}

a {
    display: block;
}

p {
    font-size: 1.3em;
}

#quiz a {
    padding: 2em 0em;
    font-size: 2em;
    max-block-size: 45%;
}

nav a:hover {
    transition: background-color 0.5s ease;
    background-color: var(--button-hover);
}

td {
    border: 0.2em solid;
    border-collapse: collapse;
    border-color: var(--border-color);
    text-align: center;
    max-width: 30%;
}

header {
    position: sticky;
    top: 0;
}

nav > a, div > a {
    border: 0.1em solid;
    border-color: var(--border-color);
    border-collapse: collapse;
    padding: 0.5em 3em;
    text-decoration: none;
    color: white;
    background-color: var(--button);
}
    
nav {
    background-color: var(--nav-color);
    display: flex;
    justify-content: center;
}
    
.form label, .form input {
    display: flex;
    margin-left: 32rem;
}

.form {
    display: block;
    justify-content: center;
    margin: 3em;
}

label + input {
    margin-left: 0em;
    height: 2rem;
    width: 20rem;
}

label, input {
    margin-left: 22rem;
}

.error {
    margin: 0em 0em 1rem 32rem;
}

