<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <title>Quiz</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}" />
        {% block head_content %}
        {% endblock %}

    </head>
    <body>
        <header>
            <nav>
                <a href="{{ url_for('index') }}">Home</a>
                <a href="{{ url_for('quiz') }}">Quiz</a>
                <a href="{{ url_for('leaderboard') }}">Leaderboards</a>
            {% if g.admin == 1 %}
                <a href="{{ url_for('suggest') }}">Suggest</a>
                <a href="{{ url_for('review') }}">Review</a>
                <a href="{{ url_for('self_profile') }}">{{ g.user }}'s Profile</a>
                <a href="{{ url_for('logout') }}">Logout</a>
            {% elif g.user %}
                <a href="{{ url_for('suggest') }}">Suggest</a>
                <a href="{{ url_for('self_profile') }}">{{ g.user }}'s Profile</a>
                <a href="{{ url_for('logout') }}">Logout</a>
            {% else %}
                <a href="{{ url_for('register') }}">Register</a>
                <a href="{{ url_for('login') }}">Login</a>
            {% endif %}
            </nav>
        </header>
        {% block main_content %}
        {% endblock %}
</html>